Source/StoneFinch.ReactiveExtensions.Wpf4/Service References/MyWcfServiceReference/MyWcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2516/MyWcfService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2516/MyWcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyWcfService_GetCurrentDateTimeUtc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDateTimeUtc" />
  </wsdl:message>
  <wsdl:message name="IMyWcfService_GetCurrentDateTimeUtc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentDateTimeUtcResponse" />
  </wsdl:message>
  <wsdl:message name="IMyWcfService_DateTimeToString_InputMessage">
    <wsdl:part name="parameters" element="tns:DateTimeToString" />
  </wsdl:message>
  <wsdl:message name="IMyWcfService_DateTimeToString_OutputMessage">
    <wsdl:part name="parameters" element="tns:DateTimeToStringResponse" />
  </wsdl:message>
  <wsdl:message name="IMyWcfService_GetRandomNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNumber" />
  </wsdl:message>
  <wsdl:message name="IMyWcfService_GetRandomNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRandomNumberResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyWcfService">
    <wsdl:operation name="GetCurrentDateTimeUtc">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWcfService/GetCurrentDateTimeUtc" message="tns:IMyWcfService_GetCurrentDateTimeUtc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWcfService/GetCurrentDateTimeUtcResponse" message="tns:IMyWcfService_GetCurrentDateTimeUtc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DateTimeToString">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWcfService/DateTimeToString" message="tns:IMyWcfService_DateTimeToString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWcfService/DateTimeToStringResponse" message="tns:IMyWcfService_DateTimeToString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRandomNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyWcfService/GetRandomNumber" message="tns:IMyWcfService_GetRandomNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyWcfService/GetRandomNumberResponse" message="tns:IMyWcfService_GetRandomNumber_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyWcfService" type="tns:IMyWcfService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentDateTimeUtc">
      <soap:operation soapAction="http://tempuri.org/IMyWcfService/GetCurrentDateTimeUtc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DateTimeToString">
      <soap:operation soapAction="http://tempuri.org/IMyWcfService/DateTimeToString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRandomNumber">
      <soap:operation soapAction="http://tempuri.org/IMyWcfService/GetRandomNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyWcfService">
    <wsdl:port name="BasicHttpBinding_IMyWcfService" binding="tns:BasicHttpBinding_IMyWcfService">
      <soap:address location="http://localhost:2516/MyWcfService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>